<div class="row proposition">
  <div class="col-xs-12">
    <div class="proposition-title">Partenariats</div>
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="row in $data">
        <td data-title="'Produit'">{{ row.product.name }}</td>
        <td data-title="'Status'">{{ row.status }}</td>
        <td data-title="'Prix'" sortable="'price'">{{ row.price }}</td>
        <td data-title="'Marque blanche'" sortable="'isWhiteMark'">{{ row.isWhiteMark }}</td>
        <td data-title="'Envoi direct'">{{ row.isSendDirectly }}</td>
        <td data-title="'Zone'">
          <span ng-repeat="country in row.deliveryArea">{{ country.name }}</span>
        </td>
        <td data-title=""><a ui-sref="product.detail({id: row.product.productRef})">detail</a></td>
      </tr>
    </table>
  </div>
</div>
