<div class="row" id="sign">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="row">
      <div class="col-xs-12 mgT20 mgB60">
        <img src="/assets/images/inscription_logo_dropshippers.png" alt="logo" class="text-center" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <md-input-container class="md-block">
          <label>Identifiant</label>
          <input type="text" name="login" ng-model="user.username"/>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Mot de passe</label>
          <input type="Password" ng-model="user.password"/>
        </md-input-container>

        <div class="button-list">
          <md-button ui-sref="signin" class="button-link">
            Je n'ai pas de compte ?
          </md-button>
          <md-button ui-sref="home" class="button-link">
            Mot de passe oublié
          </md-button>
        </div>

        <md-input-container class="md-block">
          <md-button type="submit" class="md-accent md-raised" ng-click="login()">Connexion</md-button>
        </md-input-container>
      </div>
    </div>
</div>
