<div class="row" id="sign">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="row">
      <div class="col-xs-12 mgT20 mgB60">
        <img src="/assets/images/inscription_logo_dropshippers.png" alt="logo" class="text-center" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        
        <md-input-container class="md-icon-float md-block">
          <label>Pseudo</label>
          <input ng-model="user.username" type="text">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Email</label>
          <input ng-model="user.email" type="email" ng-required="true">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Mot de passe</label>
          <input ng-model="user.password" type="password" ng-required="true">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Nom de votre boutique</label>
          <input ng-model="user.shop_name" type="shop_name"  ng-required="true">
        </md-input-container>
        
        <md-input-container class="md-block">
          <md-button class="md-accent md-raised" type="submit" ng-click="signin()">Créer un compte</md-button>
        </md-input-container>

      </div>
    </div>
</div>