.footer {
  background-color: #424242;
  color:            white;
  padding:          30px 0;
  .content {
    .col-xs-offset-1 {
      margin-left: 13%;
    }
    .footer-title::after {
      content:        "";
      display:        block;
      content:        url("../assets/images/losange-1.png");
      padding-bottom: 15px;
    }
    .footer-title {
      font-size:   22px;
      font-weight: bold;
    }
    p {
      height:         0;
      padding-bottom: 5px;
    }
    .phone,
    .mail {
      p,
      i {
        display: inline-block;
      }
      i {
        margin-right: 5px;
        color:        teal;
      }
    }
    .social {
      font-weight: bold;
      i {
        display:      inline-block;
        font-size:    30px;
        margin-top:   10px;
        margin-right: 15px;
        color:        teal;
      }
    }

    .center {
      p {
        font-family: 'Montserrat Alternates';
        font-size:   12px;
      }
    }

    .right::before {
      content:     "";
      position:    absolute;
      border-left: 1px teal solid;
      height:      80%;
      top:         10%;
      left:        -5px;
    }
    
    .right {
      position: relative;
      img {
        width:         160px;
        display:       block;
        margin:        auto;
        margin-bottom: 30px;
      }
      .quote {
        text-align: center;
        .quotee {
          font-style:    italic;
          margin-bottom: 20px;
        }
        .quotee-name {
          font-weight: bold;
        }
      }
    }
    
  }
}

.legal-mentions {
  color:            white;
  text-align:       center;
  font-size:        12px;
  background-color: teal;
  padding:          15px 0;
}
