@root: "../assets/images";
@teal: #009999;
@yellow: #FFCC00;

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat Alternates', sans-serif;
}

body, html, p, a {
	font-family: 'Roboto Condensed', sans-serif;
}

.text-center {
	text-align: center;
}

.button-list {
	.md-button {
		display: inline-block;
		
		&:hover {
			background-color: #fff !important;
		}
	}
}

.button-link {
	text-transform: none;
	padding: 0 4px;
    margin: 6px 4px;
	
	&:hover {
		background-color: none;
	}
}

.md-button.md-accent.md-raised {
	color: #fff;
}

.button-yellow {
  display:          block;
  position:         absolute;
  background-color: @yellow;
  color:            #fff;
  font-family:      'Montserrat Alternates', sans-serif;
  right:            20px;
  padding:          5px 10px;
  border-radius:    5px;
}
