.homepage {
  .introduction {
    text-align: center;
    background-image: url("../assets/images/home_image_acceuil-1.jpg");
  }

  .our-idea {
    h2 {
      margin-bottom: 0;
    }
    .left {
      padding: 0;
    }
  }

  .the-product {
    text-align: right;
  }

  .how-start {
    color:            white;
    background-color: teal;
    .left {
      padding: 0;
    }
  }
}
