.homepage {
  .col-xs-6 {
    padding: 0 15px;
  }
  .introduction,
  .our-idea,
  .the-product {
    color: #575757;
  }
  .introduction {
    padding-bottom: 75px;
    h1 {
      margin-top: 75px;
    }
  }
  .introduction {
    color:            #575757;
    text-align:       center;
    background-image: url("../assets/images/home_image_acceuil-1.jpg");
    h2 {
      font-weight: normal;
    }
    .button-yellow {
      position:    relative;
      width:       185px;
      margin:      50px auto 20px;
      font-weight: bold;
    }
  }

  .our-idea {
    h1 {
      margin-top: 75px;
      padding:    0 15px;
    }
    h2 {
      padding:       0 15px;
      margin-bottom: 0;
    }
    a {
      color: #575757;
      .fa-arrow-circle-right {
        color: teal;
      }
    }
    strong {
      color: teal;
    }
    img {
      display:    block;
      margin:     auto;
      margin-top: -25px;
      width:      450px;
    }
  }
  
  .how-start {
    color:            white;
    background-color: teal;
    h1 {
      margin-top: 75px;
      padding:    0 15px;
    }
    h2 {
      padding: 0 15px;
    }
    a {
      color: white;
      .fa-arrow-circle-right {
        color: white;
      }
    }
    img {
      display:     block;
      margin:      auto;
      width:       415px;
    }
  }

  .the-product {
    text-align: right;
    h1 {
      margin-top: 75px;
    }
    .left,
    .right {
      height: 750px;
    }
    .left {
      background-image:    url("../assets/images/home_visuel-3.png");
      background-repeat:   no-repeat;
      background-position: bottom;
      background-size:     380px;
      p {
        padding-left: 115px;
      }
      .button-yellow {
        margin-top:  30px;
        font-weight: bold;
      }
    }
    .right {
      background-image: url("../assets/images/home_image_acceuil-2.jpg");
    }
  }
}
