#main-navbar {
	background-color: #fff;

	.main-navbar--link {
		background-color: #fff;
		color: #000;
		border-bottom: solid 2px #fff;
		text-transform: none;

		&:hover {
			background-color: #fff;
			border-bottom: solid 2px green;
		}

		&.active {
			color: green;
		}
	}
}