@import "general.less";

.row {
    margin-left:  0;
    margin-right: 0;
  }

.product {
  margin-top:    35px;
  margin-bottom: 50px;

  .detail {
    margin-left:  -15px;
    margin-right: -15px;
    
    .product-title {
      text-transform: uppercase;
    }

    .product-title,
    .product-subtitle {
      font-family: Montserrat Alternates;
      margin-left: 25px;
      font-size:   30px;
    }

    .product-subtitle {
      font-size:      18px;
      color:          grey;
      margin-bottom:  30px;
      padding-bottom: 30px;
      border-bottom:  3px solid #009999;
    }

    h2 {
      color: #009999;
    }
  }

  button.prop {
      color:            white;
      background-color: #ffcc00;
      font-family:      'Montserrat Alternates', sans-serif;
      padding:          5px 10px;
      border-radius:    5px;
      border:           #ffcc00 1px solid;
  }

  .partners-form {
    border:        3px solid #009999;
    border-radius: 5px;
    padding:       15px;
    margin-top:    35px;
    margin-bottom: 40px;
    .partners-form-title {
      font-family: Montserrat Alternates;
      font-size:   18px;
      color:       #009999;
      margin-top:  20px;
    }
    .partners-form-subtitle {
      font-style: italic;
      font-size:  14px;
    }
  }

  .exchange {
    margin-left:  -15px;
    margin-right: -15px;
    .exchange-title {
      font-family:             Montserrat Alternates;
      font-size:               18px;
      background-color:        #009999;
      color:                   white;
      padding:                 20px;
      margin-left:             15px;
      margin-right:            15px;
      border-top-left-radius:  5px;
      border-top-right-radius: 5px;
    }
    table {
      width:            100%;
      border:           solid 3px #009999;
      border-top-style: none;
      th {
        padding: 10px 0;
      }
      td {
        color:   grey;
        padding: 20px;
      }
    }
  }
}

.product-list-item {

	margin-bottom: 20px;
	padding: 10px;
	
	.md-button {
		padding: 0 !important;
	}

	.product-list-hover {

		display: none;
		cursor: pointer;

		.product-list-hover-content {
			
			color: #fff;
			display: table;
		    width: 100%;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    height: 100%;

		    .product-list-hover-content-middle {
				display: table-cell;
				vertical-align: middle;
				float: none;

				span {
					display: block;
    				text-align: center;
    				&.product-list-hover-content-middle-content {
    					font-size: 16px;
    					font-weight: bold;
    				}
				}
			}
		}
	}	

	&:hover {

		.product-list-hover {
			display: block;
			background-color: rgba(0,153,153, 0.6);
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		    position: absolute;
		}

	}

	.product-list {
		margin: 1px;
		cursor: pointer;
		width: 100%;

		.md-card-image {
			height: 200px;
			overflow: hidden;
			text-align: center;

			img {
				
				/*position: relative; */
			    /* top: -20px; */
			    max-height: 220px;
			    /* width: 100%; */
			    width: auto;
			    height: auto;
			    text-align: center;
			    display: initial;
			}

			.label-price {
				position: absolute;
			    top: 210px;
			    background-color: @yellow;
			    color: #fff;
			    font-family: 'Montserrat Alternates', sans-serif;
			    right: 20px;
			    padding: 5px 10px;
	    		border-radius: 5px;
			}
		}

		md-card-title {
			height: 100px;
			
			.md-headline {
				line-height: 20px;
			}
		}

		md-card-content {
			line-height: 20px;
			height: 130px;
		}
	}
}
