<div class="row">
	<div class="col-xs-4">

		<md-card class="product-list" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
			<a class="product-hover"></a>
		    <md-card-header>
		      <md-card-avatar>
		        <!-- <img src="img/logo.svg"/> -->
		      </md-card-avatar>
		      <md-card-header-text>
		        <span class="md-title">{{ product.shop.name }}</span>
		        <span class="md-subhead">Type de produit</span>
		      </md-card-header-text>
		    </md-card-header>
		    <div class="md-card-image">
		    	<img ng-src="/assets/images/produit-1.jpg" alt="Washed Out">
		    </div>
		    <md-card-title>
		    </md-card-title>
		    <md-card-content>
		    </md-card-content>
		</md-card>

	</div>

	<div class="col-xs-8">

		<div class="row">
			<div class="col-xs-12">

				<h2>{{ product.name }}</h2>		

				<p>{{ product.description }}</p>
			</div>
			<div class="col-xs-12">
			
				<md-input-container>
			        <input type="hidden" ng-model="proposition.product_reference" value="{{ product.dropshippers_ref }}" />
			     </md-input-container>

				<md-input-container>
			        <label>Prix</label>
			        <input type="number" ng-model="proposition.price" step="0.01" max="{{ product.price }}" />
			     </md-input-container>

			    <md-radio-group ng-model="proposition.isWhiteMark">
			      <md-radio-button value="true" class="md-primary">Oui</md-radio-button>
			      <md-radio-button value="false">Non</md-radio-button>
			    </md-radio-group>

			    <md-radio-group ng-model="proposition.isSendDirectly">
			      <md-radio-button value="true" class="md-primary">Oui</md-radio-button>
			      <md-radio-button value="false">Non</md-radio-button>
			    </md-radio-group>

			    <md-input-container class="md-block">
		          <label>Message</label>
		          <textarea ng-model="proposition.message" md-maxlength="150" rows="5" md-select-on-focus></textarea>
		        </md-input-container>

		        <md-input-container class="md-block">
			        <button ng-click="props()">
						Proposition
					</button>
				</md-input-container>

			</div>
			<div class="col-xs-12">
			<table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
		      <tr ng-repeat="row in $data">
		        <td data-title="'Name'">{{row.name}}</td>
		        <td data-title="'Age'" sortable="'age'">{{row.age}}</td>
		        <td data-title="'Money'" sortable="'money'">{{row.money}}</td>
		      </tr>
		    </table>
			</div>
		</div>

	</div>
</div>



