<!-- Partners forms -->
<div class="row">
  	<div class="col-xs-12">
	  	<h3>Informations personnelles</h3>
	  	<div class="row">
  			<div class="col-xs-6">
	  			<md-input-container class="md-block">
			    	<label>{{ 'LABEL.USERNAME' | translate }}</label>
			      	<input type="text" ng-model="user.user.username" ng-disabled="true" />
			    </md-input-container>

			    <md-input-container class="md-block">
			      <label>{{ 'LABEL.EMAIL' | translate }}</label>
			      <input type="email" ng-model="user.user.email" required />
			    </md-input-container>
  			</div>

  			<div class="col-xs-6">
  				<md-input-container class="md-block">
			      <label>{{ 'LABEL.PASSWORD' | translate }}</label>
			      <input type="password" ng-model="user.user.password" required />
			    </md-input-container>

			    <md-input-container class="md-block">
			      <label>{{ 'Confirmation du mot de passe' | translate }}</label>
			      <input type="password" ng-model="passwordConfirm" />
			    </md-input-container>

			    <md-input-container class="md-block">
		          
		        </md-input-container>
  			</div>
  		</div>
  	</div>

  	<div class="col-xs-12">
	  	<h3>Information de la boutique</h3>
	  	<div class="row">
  			<div class="col-xs-6">
	  			<md-input-container class="md-block">
			    	<label>{{ 'LABEL.SHOP_NAME' | translate }}</label>
			      	<input type="text" ng-model="user.shop.name" ng-disabled="true" />
			    </md-input-container>

			    <md-input-container class="md-block">
			      <label>{{ 'LABEL.SHOP_URL' | translate }}</label>
			      <input type="text" ng-model="user.shop.url" required />
			    </md-input-container>

			    <md-input-container class="md-block">
			      <label>{{ 'LABEL.EMAIL' | translate }}</label>
			      <input type="email" ng-model="user.shop.email" required />
			    </md-input-container>
  			</div>
  			<div class="col-xs-6">
  				<md-input-container class="md-block">
			      <label>{{ 'LABEL.ADDRESS' | translate }}</label>
			      <input type="text" ng-model="user.shop.address" required />
			    </md-input-container>

			    <md-input-container class="md-block">
			      <label>{{ 'LABEL.ZIPCODE' | translate }}</label>
			      <input type="number" ng-model="user.shop.zipcode" required />
			    </md-input-container>

			    <md-input-container class="md-block">
			      <label>{{ 'LABEL.CITY' | translate }}</label>
			      <input type="text" ng-model="user.shop.city" required />
			    </md-input-container>
  			</div>
  		</div>
  	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Mes produits</h3>
	</div>
  <div class="col-xs-3" ng-repeat="product in user.products track by $index">
    <md-list-item class="product-list-item" ng-click="go(product.dropshippers_ref)">
      <div class="product-list-hover">
        <div class="product-list-hover-content">
          <div class="product-list-hover-content-middle">
            <span><i class="fa fa-eye fa-2x"></i></span>
            <span class="product-list-hover-content-middle-content">Regarder ce produit</span>
          </div>
        </div>
      </div>
      <md-card class="product-list" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
        <a class="product-hover"></a>
        <md-card-header>
          <md-card-avatar>
            <!-- <img src="img/logo.svg"/> -->
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ product.shopName }}</span>
            <span class="md-subhead">{{ product.categories[0].name }}</span>
          </md-card-header-text>
        </md-card-header>
        <div class="md-card-image">
          <img ng-src="{{ product.image[0] }}" alt="Washed Out">
          <span class="label-price">{{ product.quantity }} Pièces</span>
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ product.name }}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </md-list-item>
  </div>
</div>
